{% extends 'layout/templateAuth.html' %}
{% block content %}
<div class="nk-content ">
    <div class="nk-split nk-split-page nk-split-md">
        <div class="nk-split-content nk-block-area nk-block-area-column nk-auth-container bg-white w-lg-45">
            <div class="absolute-top-right d-lg-none p-3 p-sm-5">
                <a href="#" class="toggle btn btn-white btn-icon btn-light" data-target="athPromo"><em class="icon ni ni-info"></em></a>
            </div>
            <div class="nk-block nk-block-middle nk-auth-body">
                <div class="brand-logo pb-5" style="text-align: center;">
                    <a href="#" class="logo-link">
                        <img src="/static/assets/images/logo/flujappi-2.png" style="height: 100px; width: 100px;">
                    </a>
                </div>
                <div class="nk-block-head">
                    <div class="nk-block-head-content">
                        <h5 class="nk-block-title">Registro de Usuario</h5>
                        <div class="nk-block-des">
                            <p>Ingrese los siguientes datos para hacer efectivo su registro</p>
                        </div>
                    </div>
                </div><!-- .nk-block-head -->
                <form method="post">
                    {#<div class="form-group">
                        <label class="form-label" for="name">Nombre y Apellidos</label>
                        <input type="text" class="form-control form-control-lg" id="name" placeholder="Ingrese nombre y apellidos">
                    </div>#}
                    <div class="form-group">
                        <label class="form-label" for="email">Email</label>
                        <input type="text" class="form-control form-control-lg" id="email" name="email" placeholder="Ingrese su email">
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Contraseña</label>
                        <div class="form-control-wrap">
                            <a tabindex="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="password">
                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                            </a>
                            <input type="password" class="form-control form-control-lg" id="password" name="password" placeholder="Ingrese una contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="password">Repetir Contraseña</label>
                        <div class="form-control-wrap">
                            <a tabind x="-1" href="#" class="form-icon form-icon-right passcode-switch" data-target="password2">
                                <em class="passcode-icon icon-show icon ni ni-eye"></em>
                                <em class="passcode-icon icon-hide icon ni ni-eye-off"></em>
                            </a>
                            <input type="password" class="form-control form-control-lg" id="confirmPassword" name="confirmPassword" placeholder="Repetir contraseña">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="custom-control custom-control-xs custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkbox">
                            <label class="custom-control-label" for="checkbox">Acepta la <a tabindex="-1" href="/politicaPrivacidad">Politica de Privacidad</a> &amp; <a tabindex="-1" href="/terminosCondiciones"> Términos.</a></label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse</button>
                    </div>
                </form><!-- form -->
                <div class="form-note-s2 pt-4"> ¿ Ya tienes una cuenta ? <a href="/auth/login"><strong>Iniciar Sesión</strong></a>
                </div>
                {#<div class="text-center pt-4 pb-3">
                    <h6 class="overline-title overline-title-sap"><span>ingresar con</span></h6>
                </div>
                <ul class="nav justify-center gx-8">
                    <li class="nav-item">
                        <button class="btn btn-danger">
                            <em class="icon ni ni-google" data-toggle="tooltip" data-placement="left" title="Iniciar sesión con Google"></em>
                        </button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-info">
                            <em class="icon ni ni-linkedin-round" data-toggle="tooltip" data-placement="left" title="Iniciar sesión con Linkedin"></em>
                        </button>
                    </li>
                </ul>#}
            </div><!-- .nk-block -->
            <div class="nk-block nk-auth-footer">
                <div class="nk-block-between">
                    {#<ul class="nav nav-sm">
                        <li class="nav-item">
                            <a class="nav-link" href="/terminosCondiciones">Terminos & Condiciones</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/politicaPrivacidad">Politica de Privacidad</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/ayuda">Ayuda</a>
                        </li>
                        <li class="nav-item dropup">
                            <a class="dropdown-toggle dropdown-indicator has-indicator nav-link" data-toggle="dropdown" data-offset="0,10"><small>Español</small></a>
                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                                 <ul class="language-list">
                                    <li>
                                        <a href="#" class="language-item">
                                            <img src="/static/images/flags/english.png" alt="" class="language-flag">
                                            <span class="language-name">English</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="language-item">
                                            <img src="/static/images/flags/spanish.png" alt="" class="language-flag">
                                            <span class="language-name">Español</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul><!-- nav -->#}
                </div>
                <div class="mt-3">
                    <p>&copy;Flujappi. Todos los derechos reservados.</p>
                </div>
            </div><!-- nk-block -->
        </div><!-- nk-split-content -->
        <div class="nk-split-content nk-split-stretch bg-lighter d-flex toggle-break-lg toggle-slide toggle-slide-right" data-content="athPromo" data-toggle-screen="lg" data-toggle-overlay="true" style="background-image: url('/static/images/bg-login-img.jpg')">
            <div class="slider-wrap w-100 w-max-550px p-3 p-sm-5 m-auto">
                <div class="slider-init" data-slick='{"dots":true, "arrows":false}'>
                    <div class="slider-item">
                        <div class="nk-feature nk-feature-center">
                            <div class="nk-feature-img">
                                <img class="round" src="/static/images/slides/infoFinanciera.jpg" srcset="/static/images/slides/promo-a2x.png 2x" alt="">
                            </div>
                            <div class="nk-feature-content py-4 p-sm-5">
                                <h4>Información Financiera</h4>
                                <p>Información contable al alcance de tus manos</p>
                            </div>
                        </div>
                    </div><!-- .slider-item -->
                    <div class="slider-item">
                        <div class="nk-feature nk-feature-center">
                            <div class="nk-feature-img">
                                <img class="round" src="/static/images/slides/sii.png" srcset="/static/images/slides/promo-b2x.png 2x" alt="">
                            </div>
                            <div class="nk-feature-content py-4 p-sm-5">
                                <h4>Conexión con SII</h4>
                                <p>Conexión directa con el Servicio de Puestos Internos</p>
                            </div>
                        </div>
                    </div><!-- .slider-item -->
                    <div class="slider-item">
                        <div class="nk-feature nk-feature-center">
                            <div class="nk-feature-img">
                                <div class="nk-block block-partners">
                                    <div class="row">
                                        <img class="round" src="/static/images/bancos/santander.png" style="width:200px;height: 40px">
                                        <img class="round" src="/static/images/bancos/bciNormal.png" style="width:200px">
                                        <img class="round" src="/static/images/bancos/bancoChileAz.png" style="width:200px">
                                        <img class="round" src="/static/images/bancos/bancoEstado.png" style="width:200px">
                                    </div>
                                </div>
                            </div>
                            <div class="nk-feature-content py-4 p-sm-5">
                                <h4>Conexión con tu Banco</h4>
                                <p>Acceso a la cartola de tus bancos y como influyen en tu negocio</p>
                            </div>
                        </div>
                    </div><!-- .slider-item -->
                </div><!-- .slider-init -->
                <div class="slider-dots"></div>
                <div class="slider-arrows"></div>
            </div><!-- .slider-wrap -->
        </div><!-- nk-split-content -->
    </div><!-- nk-split -->
</div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            var mensaje = '{{ messages[0] }}';
            console.log(mensaje);
            switch (mensaje) {
                case 'correcto':
                    Swal.fire("Bien", "Se creo el usuario correctamente", "success");
                    break;
                case 'incorrect':
                    Swal.fire("Alerta", "Las contraseñas no son iguales", "warning");
                    break;
                case 'error':
                    Swal.fire("Error", "No se pudo crear el usuario", "error");
                    break;
            }
        </script>
    {% endif %}
{% endwith %}
{% endblock %}