<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../../../">
    <meta charset="utf-8">
    <meta name="author" content="flujappy">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="/static/images/favicon.png">
    <!-- Page Title  -->
    <title>Error 504 | Flujappy</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="/static/assets/css/dashlite.css?ver=2.4.0">
    <link id="skin-default" rel="stylesheet" href="/static/assets/css/theme.css?ver=2.4.0">
</head>

<body class="nk-body bg-white npc-general pg-error">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main ">
            <!-- wrap @s -->
            <div class="nk-wrap nk-wrap-nosidebar">
                <!-- content @s -->
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle wide-md mx-auto">
                        <div class="nk-block-content nk-error-ld text-center">
                            <img class="nk-error-gfx" src="xipax/static/images/gfx/error-504.svg" alt="">
                            <div class="wide-xs mx-auto">
                                <h3 class="nk-error-title">Error en tiempo de espera</h3>
                                <p class="nk-error-text">Sentimos mucho las molestias. Parece que de alguna manera nuestro servidor no recibió una respuesta oportuna</p>
                                <a href="javascript:history.back()" class="btn btn-lg btn-primary mt-2">Volver atrás</a>
                            </div>
                        </div>
                    </div><!-- .nk-block -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- content @e -->
        </div>
        <!-- main @e -->
    </div>
    <!-- app-root @e -->
    <!-- JavaScript -->
    <script src="/static/assets/js/bundle.js?ver=2.4.0"></script>
    <script src="/static/assets/js/scripts.js?ver=2.4.0"></script>
</body>
</html>