<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Empresa</h6>
</li><!-- .nk-menu-heading -->
<li class="nk-menu-item">
    <a href="/empresa/seleccionarEmpresa" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon ni ni-home"></em></span>
        <span class="nk-menu-text">Saldos y Empresas</span>
    </a>
</li>
<li class="nk-menu-item">
    <a href="/empresa/dashboardEmpresa/{{contribuyentes[0][0]}}" class="nk-menu-link">
        <span class="nk-menu-icon"><em class="icon ni ni-growth"></em></span>
        <span class="nk-menu-text">{{contribuyentes[0][1]}}</span>
    </a>
</li>
<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Módulos y Opciones</h6>
</li><!-- .nk-menu-heading -->
<li class="nk-menu-item has-sub">
    <a href="/listadoNotaventa" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-coins"></em></span>
        <span class="nk-menu-text">Ingresos</span>
    </a>
    <ul class="nk-menu-sub">
        {#<li class="nk-menu-item {% if opcionMenu=='listadonotaventa'%}active{%endif%}">
            <a href="/listadoNotaventa" class="nk-menu-link"><span class="nk-menu-text">Notas de Ventas</span></a>
        </li>#}
        <li class="nk-menu-item {% if opcionMenu=='registroventa'%}active{%endif%}">
            <a href="/ventas/registroVentas/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Registro de Ventas</span></a>
        </li>
        {#<li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Otros Ingresos</span></a>
        </li>#}
    </ul><!-- .nk-menu-sub -->
</li><!-- .nk-menu-item -->
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-curve-up-left"></em></span>
        <span class="nk-menu-text">Egresos</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item">
            <a href="/compra/registroCompras/{{contribuyentes[0][0]}}" class="nk-menu-link {% if opcionMenu=='registroventa'%}active{%endif%}"><span class="nk-menu-text">Compras</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/compra/gastos/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Gastos</span></a>
        </li>
        {#<li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Honorarios</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Remuneraciones</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Impuestos</span></a>
        </li>#}
    </ul><!-- .nk-menu-sub -->
</li><!-- .nk-menu-item -->
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-wallet"></em></span>
        <span class="nk-menu-text">Banco</span>
    </a>
    <ul class="nk-menu-sub">
        <div id="bancosAsociados"></div>
    </ul><!-- .nk-menu-sub -->
</li><!-- .nk-menu-item -->
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-tranx"></em></span>
        <span class="nk-menu-text">Reportes</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item">
            <a href="/reporte/registroConciliacion/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Conciliaciones</span></a>
        </li>
       {# <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Flujo de Caja</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Resultado Operacional</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Saldo de Cuentas</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Presupuesto</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Conciliación Bancaria</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Libro de Ventas</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Libro de Compras</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="#" class="nk-menu-link"><span class="nk-menu-text">Libro de Honorarios</span></a>
        </li>#}
    </ul><!-- .nk-menu-sub -->
</li><!-- .nk-menu-item -->
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-user"></em></span>
        <span class="nk-menu-text">Clientes y Proveedores</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item">
            <a href="/clienteProveedor/clientes/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Clientes</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/clienteProveedor/proveedores/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Proveedores</span></a>
        </li>
    </ul><!-- .nk-menu-sub -->
</li><!-- .nk-menu-item -->
<li class="nk-menu-heading">
    <h6 class="overline-title text-primary-alt">Ajustes</h6>
</li><!-- .nk-menu-heading -->
<li class="nk-menu-item has-sub">
    <a href="#" class="nk-menu-link nk-menu-toggle">
        <span class="nk-menu-icon"><em class="icon ni ni-setting-alt"></em></span>
        <span class="nk-menu-text">Maestro</span>
    </a>
    <ul class="nk-menu-sub">
        <li class="nk-menu-item">
            <a href="/bancos/banco" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Bancos</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/cuenta/tipoCuentas" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Tipos Cuentas Bancarias</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/cuenta/cuentasCorrientes/{{contribuyentes[0][0]}}" class="nk-menu-link"><span class="nk-menu-text">Cuentas Corrientes</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/documento/estadoDocumentos" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Estado Documentos</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/documento/tipoDocumentos" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Tipos de Documentos</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/documento/tipoConfiguracion" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Tipo Configuración</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/cuenta/planCuentas" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Plan Cuentas</span></a>
        </li>
        <li class="nk-menu-item">
            <a href="/maestroSuscribirse" class="nk-menu-link {% if opcionMenu=='listadousuario'%}active{%endif%}"><span class="nk-menu-text">Suscripciones</span></a>
        </li>
    </ul><!-- .nk-menu-sub -->
</li>