<!DOCTYPE html>
<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <body>
    <center style="width: 100%; background-color: #f5f6fa;">
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f6fa">
            <tr>
                <td>
                    <table style="width:100%;max-width:620px;margin:0 auto;">
                        <tr>
                            <td style="padding: 40px 0;">
                                <table style="width:100%;max-width:620px;margin:0 auto;">
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center; padding-bottom:25px">
                                                <a href="#"><!--<img style="height: 40px" src="../../static/images/email/logo-dark2x.png" alt="logo">--></a>
                                                <h1 style="color: #6576ff; padding-top: 12px;">FLLUJAPPY</h1>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <!-- ====== Module : Smart Assistance ====== -->
        <table bgcolor="#f5f5f5" align="center" class="full" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table bgcolor="white" width="750" align="center" class="margin-full" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                <table width="600" align="center" class="margin-pad" border="0" cellpadding="0" cellspacing="0">
                                    <tr><td height="70" style="font-size:0px" >&nbsp;</td></tr>
                                    <!-- title -->
                                    <tr >
                                        <td class="res-center" style="text-align: center; color: #707070; font-family: 'Raleway', Arial, Sans-serif; font-size: 20px; letter-spacing: 1px; word-break: break-word;" >
                                            <h2 style="font-size: 18px; color: #6576ff; font-weight: 400; margin-bottom: 8px;">Se ha enviado la Facturación de su compra</h2>
                                        </td>
                                    </tr>
                                    <!-- title end -->
                                    <tr><td height="13" style="font-size:0px;text-align: center"><img style="width:88px; margin-bottom:24px;" src="/static/images/email/kyc-progress.png" alt="Factura"></td></tr>
                                    <!-- column x3 -->
                                    <tr >
                                        <td class="res-center" style="text-align: justify; color: #707070; font-family: 'Nunito', Arial, Sans-serif; font-size: 16.5px; letter-spacing: 0.4px; line-height: 23px; word-break: break-word" >
                                            <p>Estimado(a): %s %s le informamos que se a emitido la factura con el folio %s ,la cual tiene como fecha de emsión %s y un monto de %s</p>
                                        </td>
                                    </tr>
                                    <!-- paragraph end -->
                                    <tr >
                                        <td class="res-center" style="text-align: center; color: #707070; font-family: 'Nunito', Arial, Sans-serif; font-size: 16.5px; letter-spacing: 0.4px; line-height: 23px; word-break: break-word" >
                                        </td>
                                    </tr>
                                    <!-- paragraph end -->
                                <tr><td height="20" style="font-size:0px" >&nbsp;</td></tr>
                                <!-- column x2 -->

                                <!-- column x3 end -->
                                <tr><td height="35" style="font-size:0px" >&nbsp;</td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <!-- ====== Module : Footer ====== -->
        <table bgcolor="#f5f5f5" align="center" class="full" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <table style="width:100%;max-width:620px;margin:0 auto;">
                        <tr>
                            <td>
                                <table width="600" align="center" class="margin-pad" border="0" cellpadding="0" cellspacing="0">

                                    <!-- dash end -->
                                    <tr><td height="20" style="font-size:0px" >&nbsp;</td></tr>
                                    <!-- paragraph -->
                                    <tr >
                                        <td class="res-center" style="text-align: center; color: #6576ff; font-family: 'Nunito', Arial, Sans-serif; font-size: 16.5px; letter-spacing: 0.4px; line-height: 23px; word-break: break-word; opacity: .7;" >
                                            Copyright 2021 Flujappy
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>
   </body>
</html>