<div class="nk-footer">
    <div class="container-fluid">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; {{anio_actual}} <a href="/">Flujappi</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item"><a class="nav-link" href="/terminosCondiciones">Terminos y Condiciones</a></li>
                    <li class="nav-item"><a class="nav-link" href="/ayuda">Ayuda</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='https://databot-api.herokuapp.com/dist_files/databot.js' id='771' bot='FLCAJUFYITEBHCJF'></script><link rel='stylesheet' href='https://databot-api.herokuapp.com/dist_files/databot.css'>