<!-- MENU -->
<div class="nk-sidebar nk-sidebar-fixed is-dark is-compact" data-content="sidebarMenu">
    <div class="nk-sidebar-element nk-sidebar-head">
        <div class="nk-menu-trigger">
            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
            <a href="#" class="nk-nav-compact nk-quick-nav-icon d-none d-xl-inline-flex" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
        </div>
        <div class="nk-sidebar-brand" style="margin-left: 50px;">
            <a href="/" class="logo-link nk-sidebar-logo">
                <img class="logo-light logo-img" src="/static/assets/images/logo/flujappi-2.png" srcset="/static/assets/images/logo/flujappi-2.png 2x" alt="logo">
                <img class="logo-dark logo-img" src="/static/assets/images/logo/flujappi-2.png" srcset="/static/assets/images/logo/flujappi-2.png 2x" alt="logo-dark">
            </a>
        </div>
    </div><!-- .nk-sidebar-element -->
    <div class="nk-sidebar-element nk-sidebar-body">
        <div class="nk-sidebar-content">
            <div class="nk-sidebar-menu" data-simplebar>
                <ul class="nk-menu">
                    <!--<li class="nk-menu-item">
                        <a href="/empresa/seleccionarEmpresa" class="nk-menu-link">
                            <span class="nk-menu-icon"><em class="icon ni ni-list-thumb-fill"></em></span>
                            <span class="nk-menu-text">Empresa</span>
                        </a>
                    </li>-->
                    {% if(datosUsx[4]=='administrador') %}
                        {% include "menu/admin.html" %}
                    {% else %}
                        {% include "menu/usuario.html" %}
                    {% endif %}
                </ul><!-- .nk-menu -->
            </div><!-- .nk-sidebar-menu -->
        </div><!-- .nk-sidebar-content -->
    </div><!-- .nk-sidebar-element -->
</div>
<!-- Menu -->
