<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
<meta name="author" content="flujappi">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="flujappi">
<!-- Fav Icon  -->
<link rel="shortcut icon" href="/static/assets/images/logo/flujappi.ico">
<!-- Site Title  -->
<title>Flujappy | Inicio</title>
<!-- Bundle and Base CSS -->
<link rel="stylesheet" href="/static/flujappy/css/vendor.bundle.css?ver=1930">
<link rel="stylesheet" href="/static/flujappy/css/style-dark.css?ver=1930" id="changeTheme">
<!-- Extra CSS -->
<link rel="stylesheet" href="/static/flujappy/css/theme.css?ver=1930">

</head>
    <body class="nk-body body-wider theme-dark mode-onepage">
	<div class="nk-wrap">
		<header class="nk-header page-header is-transparent is-sticky is-shrink is-dark" id="header">
		    <!-- Header @s -->
            <div class="header-main">
                <div class="header-container container">
                    <div class="header-wrap">
                        <!-- Logo @s -->
                        <div class="header-logo logo">
                            <a href="./" class="logo-link">
                                <img class="logo-dark" src="/static/assets/images/logo/flujappi.png" srcset="images/logo2x.png 2x" alt="logo">
                                <img class="logo-light" src="/static/assets/images/logo/flujappi.png" srcset="images/logo-white2x.png 2x" alt="logo">
                            </a>
                        </div>

                        <!-- Menu Toogle @s -->
                        <div class="header-nav-toggle">
                            <a href="#" class="navbar-toggle" data-menu-toggle="example-menu-04">
                                <div class="toggle-line">
                                    <span></span>
                                </div>
                            </a>
                        </div>

                        <!-- Menu @s -->
                        <div class="header-navbar header-navbar-s1">
                            <nav class="header-menu" id="example-menu-04">
                                <ul class="menu menu-s2">
                                    <li class="menu-item"><a class="menu-link nav-link" href="#inicio">Inicio</a></li>
                                   {# <li class="menu-item"><a class="menu-link nav-link" href="#flujappy">¿Qué es Flujappy?</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#token">Precios</a></li>#}
                                    <li class="menu-item"><a class="menu-link nav-link" href="#quepodemoshacer">¿Qué podemos hacer?</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#partners">Bancos</a></li>
                                    <li class="menu-item"><a class="menu-link nav-link" href="#susbribirse">Suscribirse</a></li>
                                </ul>
                                <ul class="menu-btns">
                                    <li><a href="/login" class="btn btn-rg btn-auto btn-outline btn-grad on-bg-theme btn-round"><span>Login</span></a></li>
                                </ul>
                            </nav>
                        </div><!-- .header-navbar @e -->
                    </div>
                </div>
            </div><!-- .header-main @e -->
            <!-- Banner @s -->
            <div class="header-banner bg-theme-dark" id="inicio">
                <div class="nk-banner">
                    <div class="banner banner-mask-fix banner-fs banner-single tc-light">
                        <div class="banner-wrap ov-v">
                            <div class="container">
                                <div class="row align-items-center justify-content-center justify-content-lg-between gutter-vr-30px">
                                    <div class="col-lg-6">
                                        <div class="banner-caption wide-auto text-center text-lg-left">
                                            <div class="cpn-head mt-0">
                                                <h1 class="title title-xl-2 animated" data-animate="fadeInUp" data-delay="1.25">Administrar tus finanzas nunca fue tan fácil</h1>
                                            </div>
                                            <div class="cpn-text cpn-text-s1">
                                                <p class="lead animated" data-animate="fadeInUp" data-delay="1.35"></p>
                                            </div>
                                        </div>
                                    </div><!-- .col -->
                                    <div class="col-lg-5 col-sm-9">
                                        <div class="token-status token-status-s5 bg-transparent no-bd">
                                            <div class="nk-circle-pk animated" data-animate="fadeIn" data-delay="1.75">
                                                <div class="line-1"></div>
                                                <div class="line-2"></div>
                                                <div class="line-3"></div>
                                                <div class="line-4"></div>
                                            </div>
                                            <div class="token-box token-box-s3 animated" data-animate="fadeInUp" data-delay="1.85">
                                                <div class="countdown-s3 countdown-s4 countdown" data-date="2021/08/09"></div>
                                            </div>
                                            <div class="token-action animated" data-animate="fadeInUp" data-delay="1.85">
                                                <a class="btn btn-rg btn-grad btn-grad-alternet btn-round" href="/suscribirse">Suscribirse</a>
                                            </div>
                                            <ul class="icon-list animated fadeInUp" data-animate="fadeInUp" data-delay="1.85" style="visibility: visible; animation-delay: 1.85s;">
                                                <li><em class="fab fa-sign-cc-alt"></em></li>
                                                <li><em class="fab fa-cc-visa"></em></li>
                                                <li><em class="fab fa-cc-mastercard"></em></li>
                                            </ul>
                                        </div>
                                    </div><!-- .col -->
                                </div><!-- .row -->
                            </div>
                        </div>
                    </div>
                </div><!-- .nk-banner -->
                <div class="nk-ovm mask-c-dark shape-v mask-contain-bottom"></div>

                <!-- Place Particle Js -->
                <div id="particles-bg" class="particles-container particles-bg" data-pt-base="#00c0fa" data-pt-base-op=".3" data-pt-line="#2b56f5" data-pt-line-op=".5" data-pt-shape="#00c0fa" data-pt-shape-op=".2"></div>
            </div>
			<!-- .header-banner @e -->

			<!-- .header-banner @e -->
		</header>

        <main class="nk-pages">
            {#<section class="section mask-c-blend-dark bg-theme-dark-alt tc-light ov-h" id="flujappy">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                            <div class="col-mb-9 col-sm-7 col-md-6 col-lg-5 order-md-last">
                                <div class="nk-block-img">
                                    <img src="images/dark/gfx-z-a.png" alt="app">
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 text-center text-md-left">
                                <div class="nk-block-text">
                                    <h2 class="title">Información <br>centralizada</h2>
                                    <p class="lead">texto.</p>
                                    <a href="#" class="video-popup btn-play-wrap btn-play-wrap-s1">
                                        <div class="btn-play btn-play-sm btn-play-s2">
                                            <em class="btn-play-icon"></em>
                                        </div>
                                        <div class="btn-play-text">
                                            <span class="text-sm">Ver Video</span>
                                            <span class="text-xs">Flujappy</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            <section class="section bg-theme-dark-alt tc-light py-0 ov-h">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-2">
                        <div class="row align-items-center gutter-vr-30px justify-content-center justify-content-md-between">
                            <div class="col-mb-9 col-sm-7 col-md-6 col-lg-5">
                                <div class="gfx py-4">
                                    <img src="images/dark/gfx-z-b.png" alt="gfx">
                                </div>
                            </div><!-- .col -->
                            <div class="col-sm-10 col-md-6 text-center text-md-left">
                                <!-- Section Head @s -->
                                <div class="nk-block-text">
                                    <h4 class="title title-lg">¿ Qué es Flujappy ?</h4>
                                    <p class="lead">breve description</p>
                                    <p></p>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>#}
            <!-- // -->{#section bg-theme-dark-alt tc-light#}
            <section class="section bg-white ov-h" id="quepodemoshacer">
                <div class="container">
                    <div class="section-head text-center wide-auto-sm tc-light">
                        <div class="section-head-line">
							<span class="line-1"></span><span class="line-2"></span><span class="line-3"></span><span class="line-4"></span>
							<span class="line-5"></span><span class="line-6"></span><span class="line-7"></span><span class="line-8"></span>
						</div>
                        <h2 class="title title-s4" title="Flujappi" style="color: black">Que Podemos Hacer</h2>
                    </div>
                    <!-- Block @s -->
                    <div class="nk-block nk-block-text-wrap">
                        <div class="row align-items-center justify-content-center justify-content-md-between gutter-vr-30px">
                            <div class="col-mb-9 col-sm-7 col-md-6">
                                <div class="nk-block-img">
                                    <img src="/static/images/desktop.PNG" alt="app">
                                    <img src="/static/images/compras.PNG" alt="app">
                                </div>
                            </div>
                            <div class="col-sm-10 col-md-6 col-lg-5">
                                <div class="nk-block-text ml-lg-3 ml-xl-0">
                                    <ul class="list list-dot pdb-r" style="text-align: justify">
                                        <li>Controla todas tus cuentas bancarias en un solo lugar</li>
                                        <li>Revisa el cuadro de mando de todos tus documentos de ventas, compras y boletas de honorarios, conectamos con el SII para obtener toda tu data</li>
                                        <li>Concilia movimientos bancarios y obtén tu flujo de caja histórico y proyectado</li>
                                        <li>¿Ganas o pierdes en tu negocio? Te armamos tú estado de resultado de manera automática</li>
                                        <li>Todo, con una rigurosa calidad técnica financiera</li>
                                        <li>Impacta tu negocio con cobranza automatizada y alertas en línea</li>
                                        <li>Imagina tus datos administrados para que te apoyen en la toma de tus decisiones</li>
                                        <li>No hagas doble trabajo, te ayudamos a conectar con tu sistema contable o sincroniza la data con Xsolution ERP para generar los asientos automatizados</li>
                                    </ul>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>
            </section>
            <!-- // -->
            {#<section class="section section-tokensale tc-light bg-theme-dark" id="token">
                <!-- Block @s -->
                <div class="container">
                    <div class="section-head text-center wide-auto-sm tc-light">
                        <h2 class="title title-s4" title="Precios">Precios</h2>
                        <p>Suscribase a para el envio de noticias e información acerca de nuestra plataforma.</p>
                    </div>
                    <div class="nk-block nk-block-token mgb-m30">
                        <div class="row align-items-center justify-content-between gutter-vr-50px">
                            <div class="col-lg-6">
                                <div class="row gutter-vr-30px">
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">Conexión con Servicio de Puestos Internos</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">Conexión a cuenta bancaria</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">End</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">Ingreso de Costos</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">Flujos de Caja</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                    <div class="col-sm-6">
                                        <div class="stage-info">
                                            <h6 class="title title-s6 title-xs-s2">Conexión con Xsolution</h6>
                                            <p></p>
                                        </div>
                                    </div><!-- .col  -->
                                </div><!-- .row  -->
                            </div>
                            <div class="col-lg-5">
                                <div class="token-status token-status-s5 bg-theme-alt round no-bd">
                                    <div class="token-box token-box-s3">
                                        <div class="countdown-s3 countdown-s4 countdown" data-date="2021/08/01"></div>
                                    </div>
                                    <div class="token-action">
                                        <a class="btn btn-md btn-grad btn-grad-alternet btn-round" href="#">Suscribirse</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </section>#}
            <!-- // -->
            <section class="section bg-theme-dark tc-light" id="partners">
                <div class="container">
                    <!-- Section Head @s -->
                    <div class="section-head text-center wide-auto-sm tc-light">
                        <h2 class="title title-s4" title="Bancos">Conexión</h2>
                    </div><!-- .section-head @e -->
                    <!-- Block @s -->
                    <div class="nk-block block-partners">
                        <ul class="partner-list flex-wrap">
                            <li class="partner-logo-lg"><img src="/static/images/bancos/santander.png" alt="partner"></li>
                            <li class="partner-logo-lg"><img src="/static/images/bancos/bci.png" alt="partner"></li>
                            <li class="partner-logo-lg"><img src="/static/images/bancos/bancoChile.png" alt="partner"></li>
                            <li class="partner-logo-lg"><img src="/static/images/bancos/bancoEstado.png" alt="partner"></li>
                        </ul>
                    </div>
                    <!-- Block @e -->
                </div>
            </section>
            <!-- // -->
        </main>
        <footer class="nk-footer bg-theme-alt section-connect" id="susbribirse">
            <div class="section section-m pb-0 tc-light ov-h">
                <div class="container py-4">
                    <!-- Block @s -->
                    <div class="nk-block pb-lg-5">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-6 col-md-9">
                                <div class="wide-auto-sm section-head section-head-sm pdb-r">
                                    <h4 class="title title-md animated" data-animate="fadeInUp" data-delay=".1">No te lo pierdas, mantente actualizado</h4>
                                </div>
                                <div class="submit-wrap">
                                    <a href="/suscribirse" class="btn btn-md btn-round btn-grad h-100">Suscribirse</a>
                                </div>
                                <div class="form-results"></div>
                                <div class="wgs wgs-text text-center mb-3">
                                    {#<ul class="social pdb-m justify-content-center">
                                        <li><a href="#"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                        <li><a href="#"><em class="social-icon fab fa-twitter"></em></a></li>
                                        <li><a href="#"><em class="social-icon fab fa-youtube"></em></a></li>
                                        <li><a href="#"><em class="social-icon fab fa-github"></em></a></li>
                                        <li><a href="#"><em class="social-icon fab fa-bitcoin"></em></a></li>
                                        <li><a href="#"><em class="social-icon fab fa-medium-m"></em></a></li>
                                    </ul>#}
                                    <div class="copyright-text copyright-text-s3 pdt-m">
                                        <p><span class="d-sm-block">Copyright &copy; Flujappy 2021  Todos los derechos reservados.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .block @e -->
                </div>
            </div>
        </footer>
	</div>

	<div class="preloader"><span class="spinner spinner-round"><small><b>Flujappi</b></small></span></div>

	<!-- JavaScript -->
	<script src="/static/flujappy/js/jquery.bundle.js?ver=1930"></script>
	<script src="/static/flujappy/js/scripts.js?ver=1930"></script>
    <script type='text/javascript' src='https://databot-api.herokuapp.com/dist_files/databot.js' id='771' bot='FLCAJUFYITEBHCJF'></script>
    <link rel='stylesheet' href='https://databot-api.herokuapp.com/dist_files/databot.css'>
</body>

</html>